@model Reserva

<h1>Agregar Reserva</h1>
<form asp-action="Create">
    <div>
        <label>FechaInicio</label>
        <input asp-for="FechaFin"/>
    </div>
    <div>
        <label>FechaFin</label>
        <input asp-for="FechaFin" />
    </div>
    <div>
        <label></label>
    </div>
</form>