@model IEnumerable<Cabania>

@*Listar las Cabañas con el estado Reservado=True*@

<h1>Reservas</h1>
<a asp-action="Create">Crear nueva reserva</a>

<table class="table">
    <thead>
        <tr>
            <th>
                <label>Id</label>
            </th>
            <th>
                <label>Capacidad</label>
            </th>
            <th>
                <label>Precio</label>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    @foreach (var reserva in Model)
    {
        <tr>
            <td>
                <label>@reserva.Id</label>
            </td>
            <td>
                <label>@reserva.Capacidad</label>
            </td>
            <td>
                <label>@reserva.Precio</label>
            </td>
        </tr>
    }

</table>